*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background: transparent !important;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img,
svg {
  vertical-align: middle;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
